* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline-color: black;
    outline-style: solid; */
}

body {
    /* font-family: Arial, sans-serif; */
    background-color: lightgray;
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

header {
    align-self: center;
    /* align-items: center;  */
    /* align-content: center; */
    margin: 1rem;
}

h1, h2 {
    padding: 0.5rem;
    text-align: center;
}

h3 {
    margin: 0.5rem 0 0.5rem 1rem;
}

ul {
    list-style-type: circle;
    margin-left: 2rem;
    line-height: 1.3rem;
}

section {
    margin: 1rem 0 1rem 0;
    padding: 1rem 0 1rem 0;
    background-color: lightblue;
}

p {
    margin: 1rem;
    font-size: 1.4rem;
    text-align: center;
}

a {
    margin: 1rem;
    color: darkblue;
    text-align: center;
}

details {
    margin: 2rem 1rem 2rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color: beige;
}

summary {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}